/* =====================================
        LS FOTOSTORY
        ADMIN.CSS
===================================== */



.admin-banner{


height:60vh;


display:flex;

justify-content:center;

align-items:center;


text-align:center;



background:

linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.9)
),

url("../imagens/banner-admin.jpg");

background-size:cover;


}



.admin-banner h1{


font-size:60px;


}



.admin-banner p{


font-size:20px;

color:#ddd;


}





.dashboard{


padding:80px 8%;


display:grid;


grid-template-columns:repeat(3,1fr);


gap:30px;


}



.dashboard-card{


background:rgba(255,255,255,.06);


padding:40px;


border-radius:25px;


text-align:center;


transition:.3s;


}



.dashboard-card:hover{


transform:translateY(-10px);


}



.dashboard-card i{


font-size:45px;


color:#d4af37;


margin-bottom:20px;


}




.admin-area{


padding:0 8% 80px;


}



.admin-box{


background:rgba(255,255,255,.06);


padding:40px;


border-radius:25px;


overflow:auto;


}



table{


width:100%;


border-collapse:collapse;


}



th,
td{


padding:15px;


border-bottom:1px solid rgba(255,255,255,.1);


text-align:left;


}




.upload-area{


padding:0 8% 100px;


}



.upload-box{


background:rgba(255,255,255,.06);


padding:40px;


border-radius:25px;


text-align:center;


}



.upload-box input{


margin:25px;


}



.upload-box button{


padding:15px 35px;


border:none;


border-radius:30px;


background:#d4af37;


font-weight:600;


cursor:pointer;


}




@media(max-width:900px){


.dashboard{


grid-template-columns:1fr;


}


.admin-banner h1{


font-size:40px;


}


}
